body {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
h1 {
    color: rgb(111, 0, 255);
}
div {width: 300px;
    padding: auto;
    border: 1px black ;
    margin: 20px ;

}
body{
    background-color: yellowgreen;
    text-align: center;
}
p{
    font-family: cursive;
}